Repository ows4444/nz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add nestjs-i18n package and its dependencies to package.json and yarn.lock
  package.json
  yarn.lock
Due: prettier --write

feat: add i18n support with initial translation file and generated types
  eslint.config.mjs
  i18n/en/test.json
  i18n/i18n.generated.ts
Due: prettier --write

feat: add i18n asset handling to webpack configuration for multiple services
  apps/api-gateway/webpack.config.js
  apps/auth-session-service/webpack.config.js
  apps/identity-device-service/webpack.config.js
Due: none

feat: integrate i18n module with dynamic configuration for multiple services
  apps/api-gateway/src/app/app.module.ts
  apps/auth-session-service/src/app/app.module.ts
  apps/identity-device-service/src/app/app.module.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add shared i18n library with initial configuration and types
  apps/api-gateway/src/app/app.module.ts
  apps/auth-session-service/src/app/app.module.ts
  libs/shared/i18n/.spec.swcrc
  libs/shared/i18n/README.md
  libs/shared/i18n/eslint.config.mjs
  libs/shared/i18n/jest.config.ts
  libs/shared/i18n/package.json
  libs/shared/i18n/src/index.ts
  libs/shared/i18n/src/lib/shared-i18n.ts
  libs/shared/i18n/tsconfig.json
  libs/shared/i18n/tsconfig.lib.json
  libs/shared/i18n/tsconfig.spec.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: update i18n types output path to shared library location across services
  apps/api-gateway/src/app/app.module.ts
  apps/auth-session-service/src/app/app.module.ts
  apps/identity-device-service/src/app/app.module.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add i18n error message and update tsconfig references for shared i18n library
  i18n/en/error.json
  i18n/i18n.generated.ts
  libs/identity-device/application/tsconfig.json
  libs/identity-device/application/tsconfig.lib.json
  tsconfig.json
Due: prettier --write

feat: add user registration success message and remove unused test translations
  i18n/en/message.json
  i18n/en/test.json
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/shared/i18n/src/lib/shared-i18n.ts
  package.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance user registration with language support and update error messages
  apps/api-gateway/src/app/identity.controller.ts
  apps/api-gateway/src/bootstrap/swagger.bootstrap.ts
  apps/identity-device-service/src/app/identity.controller.ts
  i18n/en/error.json
  i18n/en/message.json
  i18n/ur/error.json
  i18n/ur/message.json
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/identity-device/application/src/lib/commands/impl/register.command.ts
  libs/identity-device/application/src/lib/services/identity.service.ts
  libs/shared/infrastructure/src/lib/grpc/decorators/grpc-lang-metadata.decorator.ts
  libs/shared/infrastructure/src/lib/grpc/decorators/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance user registration with additional fields and internationalization support
  apps/api-gateway/src/bootstrap/swagger.bootstrap.ts
  apps/identity-device-service/src/app/app.module.ts
  i18n/en_US/error.json
  i18n/en_US/message.json
  i18n/ur_PK/error.json
  i18n/ur_PK/message.json
  libs/identity-device/application/package.json
  libs/identity-device/application/src/index.ts
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/identity-device/application/src/lib/events/handlers/create-user-credential.handler.ts
  libs/identity-device/application/src/lib/events/handlers/index.ts
  libs/identity-device/application/src/lib/events/impl/index.ts
  libs/identity-device/application/src/lib/events/index.ts
  libs/identity-device/application/tsconfig.lib.json
  libs/identity-device/domain/src/index.ts
  libs/identity-device/domain/src/lib/aggregates/user.aggregate.ts
  libs/identity-device/domain/src/lib/events/handlers/index.ts
  libs/identity-device/domain/src/lib/events/impl/create-user-credential.event.ts
  libs/identity-device/domain/src/lib/events/impl/index.ts
  libs/identity-device/presentation/src/lib/dtos/index.ts
  libs/shared/proto/src/lib/proto/identity-device.ts
  proto/identity-device.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

chore: update protoc-gen-ts_proto and protoc versions to v2.7.2 and v5.29.3 respectively; update ts-proto dependency to v2.7.2
  libs/shared/proto/src/lib/proto/auth-session.ts
  libs/shared/proto/src/lib/proto/health.ts
  libs/shared/proto/src/lib/proto/identity-device.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement device assignment to user with new event handler and update related entities
  apps/identity-device-service/src/app/app.module.ts
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/identity-device/application/src/lib/events/handlers/assign-device-to-user.handler.ts
  libs/identity-device/application/src/lib/events/handlers/index.ts
  libs/identity-device/application/src/lib/events/impl/index.ts
  libs/identity-device/application/src/lib/events/index.ts
  libs/identity-device/domain/src/lib/aggregates/user.aggregate.ts
  libs/identity-device/domain/src/lib/entities/device.entity.ts
  libs/identity-device/domain/src/lib/entities/user-device.entity.ts
  libs/identity-device/domain/src/lib/events/handlers/index.ts
  libs/identity-device/domain/src/lib/events/impl/assign-device-to-user.event.ts
  libs/identity-device/domain/src/lib/events/impl/index.ts
  libs/identity-device/domain/src/lib/events/index.ts
  libs/identity-device/infrastructure/src/lib/entities/device.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/device.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/device.repository.ts
  libs/identity-device/presentation/src/lib/dtos/index.ts
  proto/identity-device.proto
  tools/workspace-tools/src/executors/proto-build.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update device table schema to use 'id' as primary key instead of 'device_id'
  .vscode/settings.json
  docs/README.md
Due: prettier --write

fix: standardize formatting in README for API endpoints and database schemas
  README.md
Due: none

Add multi-tenant optimized database schema for authentication, user management, access control, and auditing
  docs/README.md
  docs/SCHEMA.md
Due: none

Implement code changes to enhance functionality and improve performance
  docs/README.md
Due: none

chore: remove outdated SCHEMA.md file to streamline documentation
  docs/SCHEMA.md
Due: none

feat: add user entity, repository, and mapper for improved user management
  docs/README.md
  libs/auth-session/domain/src/lib/entities/index.ts
  libs/auth-session/domain/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/index.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/index.ts
  libs/auth-session/infrastructure/src/lib/mappers/user.mapper.ts
  libs/auth-session/infrastructure/src/lib/repositories/user.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance user credential management with additional properties and mappings
  docs/README.md
  libs/auth-session/domain/src/lib/entities/user-credential.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-credential.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/user-credential.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: update user password history entity and mapper for consistency in property naming and types
  docs/README.md
  libs/auth-session/domain/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/user-password-history.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance password reset functionality with additional properties and mappings
  docs/README.md
  libs/auth-session/domain/src/lib/entities/password-reset.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/password-reset.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/password-reset.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update foreign key references for user-related tables in README
  docs/README.md
Due: none

Refactor code structure and remove redundant sections for improved readability and maintainability
  apps/auth-session-service/src/app/app.module.ts
  libs/auth-session/domain/src/lib/entities/device-session.entity.ts
  libs/auth-session/domain/src/lib/entities/index.ts
  libs/auth-session/domain/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/domain/src/lib/entities/session-policy.entity.ts
  libs/auth-session/domain/src/lib/entities/user-session.entity.ts
  libs/auth-session/domain/tsconfig.json
  libs/auth-session/domain/tsconfig.lib.json
  libs/auth-session/infrastructure/src/lib/entities/device-session.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/index.ts
  libs/auth-session/infrastructure/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/session-policy.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-session.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/device-session.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/index.ts
  libs/auth-session/infrastructure/src/lib/mappers/login-attempt.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/session-policy.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/user-session.mapper.ts
  libs/auth-session/infrastructure/src/lib/repositories/device-session.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/index.ts
  libs/auth-session/infrastructure/src/lib/repositories/session-policy.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/user-session.repository.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add tenantId property to login attempt, session policy, user session, and user entities; update related mappers
  libs/auth-session/domain/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/domain/src/lib/entities/session-policy.entity.ts
  libs/auth-session/domain/src/lib/entities/user-session.entity.ts
  libs/auth-session/domain/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/session-policy.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-session.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/login-attempt.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/user.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

updated schema
  docs/README.md
Due: none

feat: update user management entities and mappers for improved structure and functionality
  docs/README.md
  libs/identity-device/domain/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/domain/src/lib/entities/user-contact.entity.ts
  libs/identity-device/domain/src/lib/entities/user-preference.entity.ts
  libs/identity-device/domain/src/lib/entities/user-profile.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-preference.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-profile.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/contact-verification.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-contact.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-preference.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-profile.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-preference.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-profile.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement device session management with new entities, mappers, and repositories; refactor device entity structure
  docs/README.md
  libs/identity-device/domain/src/lib/entities/device-session.entity.ts
  libs/identity-device/domain/src/lib/entities/device.entity.ts
  libs/identity-device/domain/src/lib/entities/index.ts
  libs/identity-device/domain/src/lib/entities/user-device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/device-session.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/index.ts
  libs/identity-device/infrastructure/src/lib/entities/user-device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-profile.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/device-session.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/index.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-device.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/device-session.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/index.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-device.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: Implement device trust events and scores
  docs/README.md
  libs/auth-session/infrastructure/src/lib/mappers/session-policy.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/user-session.mapper.ts
  libs/auth-session/infrastructure/src/lib/repositories/login-attempt.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/password-reset.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/session-policy.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/user-password-history.repository.ts
  libs/auth-session/infrastructure/src/lib/repositories/user-session.repository.ts
  libs/identity-device/domain/src/lib/entities/device-trust-event.entity.ts
  libs/identity-device/domain/src/lib/entities/device-trust-score.entity.ts
  libs/identity-device/domain/src/lib/entities/index.ts
  libs/identity-device/infrastructure/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/device-trust-event.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/device-trust-score.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/index.ts
  libs/identity-device/infrastructure/src/lib/mappers/contact-verification.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device-session.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device-trust-event.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device-trust-score.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/index.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-profile.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/contact-verification.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/device-session.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/device-trust-event.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/device-trust-score.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/device.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-profile.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: update tsconfig files to include user-device references and remove identity-device references
  libs/user-device/application/tsconfig.json
  libs/user-device/application/tsconfig.lib.json
  libs/user-device/domain/tsconfig.json
  libs/user-device/domain/tsconfig.lib.json
  libs/user-device/infrastructure/tsconfig.json
  libs/user-device/infrastructure/tsconfig.lib.json
  libs/user-device/presentation/tsconfig.json
  libs/user-device/presentation/tsconfig.lib.json
  tsconfig.json
Due: prettier --write

refactor: remove unused base entity files from shared infrastructure
  libs/shared/infrastructure/src/lib/database/base-entities/action.entity.ts
  libs/shared/infrastructure/src/lib/database/base-entities/audit-log.entity.ts
  libs/shared/infrastructure/src/lib/database/base-entities/inbox.entity.ts
  libs/shared/infrastructure/src/lib/database/base-entities/index.ts
  libs/shared/infrastructure/src/lib/database/base-entities/outbox.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: remove unused mixins and update exports in database module
  libs/shared/infrastructure/src/lib/database/index.ts
  libs/shared/infrastructure/src/lib/database/typeorm/index.ts
  libs/shared/infrastructure/src/lib/database/typeorm/mixins/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: remove unused mixins from UserContactEntityORM class
  libs/user-device/infrastructure/src/lib/entities/user-contact.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: remove unused mixins from entity classes
  libs/auth-session/infrastructure/src/lib/entities/password-reset.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-session.entity.ts
  libs/user-device/infrastructure/src/lib/entities/user-preference.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add domain entities and infrastructure for event handling
  libs/shared/domain/.spec.swcrc
  libs/shared/domain/README.md
  libs/shared/domain/eslint.config.mjs
  libs/shared/domain/jest.config.ts
  libs/shared/domain/package.json
  libs/shared/domain/src/index.ts
  libs/shared/domain/src/lib/entities/event-subscription.entity.ts
  libs/shared/domain/src/lib/entities/inbox-event.entity.ts
  libs/shared/domain/src/lib/entities/outbox-event.entity.ts
  libs/shared/domain/tsconfig.json
  libs/shared/domain/tsconfig.lib.json
  libs/shared/domain/tsconfig.spec.json
  libs/shared/infrastructure/src/lib/database/entities/base-event.ts
  libs/shared/infrastructure/src/lib/database/entities/dead-letter-event.entity.ts
  libs/shared/infrastructure/src/lib/database/entities/event-processing-metrics.entity.ts
  libs/shared/infrastructure/src/lib/database/entities/event-routing-rule.entity.ts
  libs/shared/infrastructure/src/lib/database/entities/event-subscription.entity.ts
  libs/shared/infrastructure/src/lib/database/entities/inbox-event.entity.ts
  libs/shared/infrastructure/src/lib/database/entities/index.ts
  libs/shared/infrastructure/src/lib/database/entities/outbox-event.entity.ts
  tsconfig.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement authentication and health check services with protobuf definitions and TypeScript interfaces
  libs/auth-session/domain/src/lib/value-objects/username.vo.ts
  libs/auth-session/libs/shared/proto/src/index.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/auth-session.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/health.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/user-device.ts
  proto/auth-session.proto
  proto/user-device.proto
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: remove unused protobuf definitions and interfaces from auth-session and user-device
  libs/auth-session/libs/shared/proto/src/index.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/auth-session.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/health.ts
  libs/auth-session/libs/shared/proto/src/lib/proto/user-device.ts
  libs/shared/proto/src/lib/proto/auth-session.ts
  libs/shared/proto/src/lib/proto/user-device.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance registration DTO with additional fields and remove unused user-device DTO
  libs/auth-session/presentation/src/lib/dtos/index.ts
  libs/user-device/presentation/src/lib/dtos/index.ts
  libs/user-device/presentation/tsconfig.json
  libs/user-device/presentation/tsconfig.lib.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Path conditions:
  eslint --fix: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --write: (any of: {apps,libs,tools}/**/*.{ts,tsx}) or (any of: *.json)
