Repository ows4444/nz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(husky): update pre-commit script to use 'nx affected' for linting and type checking
  .husky/pre-commit
Due: none

fix(register): handle unknown errors with GrpcUnknownException in register handler
  libs/iam/application/package.json
  libs/iam/application/src/lib/commands/handlers/register.handler.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: remove unnecessary whitespace and improve code readability across multiple files
  .prettierrc
  README.md
  libs/iam/application/src/lib/commands/handlers/register.handler.ts
  libs/iam/application/src/lib/services/auth.service.ts
  libs/iam/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/iam/infrastructure/src/lib/entities/user-credential.entity.ts
  libs/iam/infrastructure/src/lib/entities/user.entity.ts
  libs/shared/config/src/lib/database/typeorm.schema.ts
  libs/shared/config/src/lib/env/env.schema.ts
  libs/shared/config/src/lib/logger/logger.schema.ts
  libs/shared/config/src/lib/rabbitmq/rabbitmq.schema.ts
  libs/shared/config/src/lib/shared-config.module.ts
  libs/shared/config/src/lib/swagger/swagger.schema.ts
  libs/shared/infrastructure/src/lib/database/base-entities/action.entity.ts
  libs/shared/infrastructure/src/lib/http/filters/combined.exception.filter.ts
  libs/shared/infrastructure/src/lib/http/filters/http-exception.filter.ts
  libs/shared/infrastructure/src/lib/http/interceptors/query-transform.interceptor.ts
  libs/shared/infrastructure/src/lib/http/interceptors/transform-response.interceptor.ts
  libs/shared/logger/src/lib/logger-core.module.ts
  libs/shared/logger/src/lib/logger.middleware.ts
  libs/shared/logger/src/lib/logger.module.ts
  libs/shared/logger/src/lib/logger.service.ts
  libs/shared/utils/src/lib/dto/sort-with-pagination.dto.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth, health): implement authentication and health check services with corresponding controllers and proto definitions
  .vscode/settings.json
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/auth.controller.ts
  apps/api-gateway/src/app/health.controller.ts
  apps/api-gateway/src/main.ts
  apps/iam-service/src/app/app.controller.ts
  apps/iam-service/src/app/app.module.ts
  apps/iam-service/src/app/auth.controller.ts
  apps/iam-service/src/app/health.controller.ts
  apps/iam-service/src/main.ts
  apps/iam-service/webpack.config.js
  libs/iam/presentation/src/lib/dtos/index.ts
  libs/shared/proto/package.json
  libs/shared/proto/src/index.ts
  libs/shared/proto/src/lib/proto/auth.ts
  libs/shared/proto/src/lib/proto/health.ts
  proto/auth.proto
  proto/health.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(health): enhance health check with error handling and refactor proto path usage
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/health.controller.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(oauth): enhance OAuth client management with registration, update, and deletion endpoints
  README.md
Due: none

feat(readme): add OAuth client registration details to documentation
  README.md
Due: none

feat(auth, cache): implement idempotency support in auth service and add Redis caching
  README.md
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/auth.controller.ts
  docker-compose.yml
  libs/shared/infrastructure/package.json
  libs/shared/infrastructure/src/lib/http/decorators/idempotent.decorator.ts
  libs/shared/infrastructure/src/lib/http/decorators/index.ts
  libs/shared/infrastructure/src/lib/http/index.ts
  libs/shared/infrastructure/src/lib/http/interceptors/idempotency.interceptor.ts
  libs/shared/infrastructure/src/lib/http/interceptors/index.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(rate-limit): add RateLimitInterceptor and decorator for request rate limiting
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/main.ts
  libs/shared/infrastructure/src/lib/http/decorators/rate-limit.decorator.ts
  libs/shared/infrastructure/src/lib/http/interceptors/index.ts
  libs/shared/infrastructure/src/lib/http/interceptors/rate-limit.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(user-contact, user): enhance user contact management with primary contact support and update mappings
  libs/iam/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/iam/infrastructure/src/lib/entities/user.entity.ts
  libs/iam/infrastructure/src/lib/mappers/user.mapper.ts
  libs/shared/infrastructure/src/lib/http/decorators/idempotent.decorator.ts
  libs/shared/infrastructure/src/lib/http/interceptors/idempotency.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(user-profile): refactor user entity to user profile, add email and phone verification endpoints, and update related repositories and mappers
  README.md
  apps/iam-service/src/app/app.module.ts
  libs/iam/application/src/lib/commands/handlers/register.handler.ts
  libs/iam/domain/src/lib/aggregates/user.aggregate.ts
  libs/iam/domain/src/lib/entities/index.ts
  libs/iam/domain/src/lib/entities/user-profile.entity.ts
  libs/iam/domain/src/lib/entities/user.entity.ts
  libs/iam/domain/src/lib/interfaces/index.ts
  libs/iam/domain/src/lib/interfaces/user-profile.repository.interface.ts
  libs/iam/domain/src/lib/interfaces/user.repository.interface.ts
  libs/iam/infrastructure/src/lib/entities/index.ts
  libs/iam/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/iam/infrastructure/src/lib/entities/user-profile.entity.ts
  libs/iam/infrastructure/src/lib/mappers/index.ts
  libs/iam/infrastructure/src/lib/mappers/user-contact.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user-profile.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user.mapper.ts
  libs/iam/infrastructure/src/lib/repositories/index.ts
  libs/iam/infrastructure/src/lib/repositories/user-profile.repository.ts
  libs/iam/infrastructure/src/lib/repositories/user.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(docs): update README to mark health check and registration endpoints as implemented
  README.md
Due: none

feat(docs): add database schema for email and phone verification tables
  README.md
Due: none

feat(docs): update database schema for user profile and contact verifications
  README.md
Due: none

feat(auth): update login handlers to return specific auth response type
  libs/iam/application/src/lib/commands/handlers/login-by-email.handler.ts
  libs/iam/application/src/lib/commands/handlers/login-by-username.handler.ts
  libs/shared/infrastructure/src/lib/http/decorators/idempotent.decorator.ts
  libs/shared/infrastructure/src/lib/http/interceptors/idempotency.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(user): enhance user and contact entities with default status and additional properties
  libs/iam/application/src/lib/commands/handlers/register.handler.ts
  libs/iam/domain/src/lib/entities/user-contact.entity.ts
  libs/iam/domain/src/lib/entities/user-profile.entity.ts
  libs/iam/domain/src/lib/entities/user.entity.old.ts
  libs/iam/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/iam/infrastructure/src/lib/entities/user-profile.entity.ts
  libs/iam/infrastructure/src/lib/mappers/user-contact.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user-profile.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(docs): update database schema to include user preferences, contacts, and verification tables
  README.md
Due: none

feat(scripts): add clean-project script to remove build artifacts and nested node_modules
  clean-project.sh
Due: none

feat(login): update LoginAttemptEntity to support optional id and include riskScore property
  libs/iam/domain/src/lib/entities/login-attempt.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor(docs): streamline API documentation for clarity and consistency
  README.md
Due: none

feat(repository): implement TypeormLoginAttemptRepository with CRUD operations and mapping refactor(repository): update user-credential repository to use UserCredentialMapper for domain conversion
  libs/iam/infrastructure/src/lib/mappers/login-attempt.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user-contact.mapper.ts
  libs/iam/infrastructure/src/lib/repositories/login-attempt.repository.ts
  libs/iam/infrastructure/src/lib/repositories/user-credential.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(password-reset): add PasswordResetEntityORM and repository with mappers; refactor user contact and credential repositories
  apps/iam-service/src/app/app.module.ts
  libs/iam/application/src/lib/commands/handlers/register.handler.ts
  libs/iam/domain/src/lib/entities/password-reset.entity.ts
  libs/iam/domain/src/lib/entities/user-contact.entity.ts
  libs/iam/infrastructure/src/index.ts
  libs/iam/infrastructure/src/lib/entities/index.ts
  libs/iam/infrastructure/src/lib/entities/password-reset.entity.ts
  libs/iam/infrastructure/src/lib/entities/user-profile.entity.ts
  libs/iam/infrastructure/src/lib/mappers/index.ts
  libs/iam/infrastructure/src/lib/mappers/password-reset.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user-contact.mapper.ts
  libs/iam/infrastructure/src/lib/mappers/user-profile.mapper.ts
  libs/iam/infrastructure/src/lib/repositories/login-attempt.repository.ts
  libs/iam/infrastructure/src/lib/repositories/password-reset.repository.ts
  libs/iam/infrastructure/src/lib/repositories/user-contact.repository.ts
  libs/iam/infrastructure/src/lib/repositories/user-credential.repository.ts
  libs/iam/infrastructure/src/lib/repositories/user-profile.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth): add idempotency to login endpoints; refactor login attempt handling
  apps/api-gateway/src/app/auth.controller.ts
  apps/iam-service/src/app/app.module.ts
  libs/iam/application/src/lib/commands/handlers/login-by-email.handler.ts
  libs/iam/domain/src/lib/entities/login-attempt.entity.ts
  libs/iam/infrastructure/src/lib/repositories/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth): enhance login by username handler with transaction management and error handling for login attempts
  libs/iam/application/src/lib/commands/handlers/login-by-username.handler.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(proto): add metadata support to auth and health service methods
  libs/shared/proto/package.json
  libs/shared/proto/src/lib/proto/auth.ts
  libs/shared/proto/src/lib/proto/health.ts
  tools/workspace-tools/src/executors/proto-build.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(grpc): implement idempotency support with GrpcIdempotencyInterceptor and decorator
  apps/iam-service/src/app/app.module.ts
  apps/iam-service/src/app/auth.controller.ts
  libs/shared/infrastructure/src/lib/grpc/decorators/grpc-idempotent.decorator.ts
  libs/shared/infrastructure/src/lib/grpc/decorators/index.ts
  libs/shared/infrastructure/src/lib/grpc/index.ts
  libs/shared/infrastructure/src/lib/grpc/interceptors/grpc-idempotency.interceptor.ts
  libs/shared/infrastructure/src/lib/grpc/interceptors/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

chore(cleanup): update permissions for clean-project.sh script
  clean-project.sh
Due: none

feat(auth): remove idempotency support and related interceptor from auth controller
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/auth.controller.ts
  libs/shared/infrastructure/src/lib/http/decorators/idempotent.decorator.ts
  libs/shared/infrastructure/src/lib/http/decorators/index.ts
  libs/shared/infrastructure/src/lib/http/interceptors/idempotency.interceptor.ts
  libs/shared/infrastructure/src/lib/http/interceptors/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(grpc): increase default TTL for idempotency cache from 3 to 5 seconds
  libs/shared/infrastructure/src/lib/grpc/interceptors/grpc-idempotency.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(interceptor): remove redundant type import for Cache in rate limit interceptor
  libs/shared/infrastructure/package.json
  libs/shared/infrastructure/src/lib/http/interceptors/rate-limit.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(imports): simplify import path for rate limit decorator in RateLimitInterceptor
  libs/iam/presentation/src/lib/dtos/index.ts
  libs/shared/infrastructure/src/lib/http/interceptors/rate-limit.interceptor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

docs(readme): update service table to include database tables for each service
  README.md
Due: none

docs(readme): restructure service table for improved clarity and detail on components and data stores
  README.md
Due: none

feat: update tsconfig and package.json to include new auth-session and identity-device libraries
  package.json
  tsconfig.json
Due: prettier --write

fix(yarn.lock): update uuid dependency to use caret versioning
  yarn.lock
Due: none

feat(auth-session): add user password history entity, mapper, and repository
  libs/auth-session/domain/src/lib/entities/index.ts
  libs/auth-session/domain/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/index.ts
  libs/auth-session/infrastructure/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/index.ts
  libs/auth-session/infrastructure/src/lib/mappers/user-password-history.mapper.ts
  libs/auth-session/infrastructure/src/lib/repositories/index.ts
  libs/auth-session/infrastructure/src/lib/repositories/user-password-history.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity-device): add user preference entity, mapper, and repository
  libs/identity-device/domain/src/lib/entities/index.ts
  libs/identity-device/domain/src/lib/entities/user-preference.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/index.ts
  libs/identity-device/infrastructure/src/lib/entities/user-preference.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/index.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-preference.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/index.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-preference.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Path conditions:
  eslint --fix: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --write: (any of: {apps,libs,tools}/**/*.{ts,tsx}) or (any of: *.json)
