Repository ows4444/nz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(user-password-history): change id type from string to number and update entity name
  libs/auth-session/domain/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-password-history.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(device): implement DeviceEntity with properties and methods for device management fix(user-profile): update IUserProfileProps to require status, createdAt, and updatedAt
  libs/identity-device/domain/src/lib/entities/device.entity.ts
  libs/identity-device/domain/src/lib/entities/index.ts
  libs/identity-device/domain/src/lib/entities/user-profile.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(docs): add comprehensive database schema documentation for authentication, OAuth2, user management, access control, and auditing
  docs/README.md
Due: none

feat(mixins): add mixins for lastSeen, linked, requested, and used timestamps
  libs/shared/infrastructure/src/lib/database/typeorm/mixins/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity-device): implement contact verification and user-device entities, mappers, and repositories
  docs/README.md
  libs/identity-device/domain/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/domain/src/lib/entities/device.entity.ts
  libs/identity-device/domain/src/lib/entities/index.ts
  libs/identity-device/domain/src/lib/entities/user-device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/index.ts
  libs/identity-device/infrastructure/src/lib/entities/user-device.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/contact-verification.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/device.mapper.ts
  libs/identity-device/infrastructure/src/lib/mappers/index.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-device.mapper.ts
  libs/identity-device/infrastructure/src/lib/repositories/contact-verification.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/device.repository.ts
  libs/identity-device/infrastructure/src/lib/repositories/index.ts
  libs/identity-device/infrastructure/src/lib/repositories/user-device.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth-session): implement DeviceSessionEntity and related infrastructure components
  libs/auth-session/domain/src/lib/entities/device-session.entity.ts
  libs/auth-session/domain/src/lib/entities/index.ts
  libs/auth-session/domain/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/domain/src/lib/entities/password-reset.entity.ts
  libs/auth-session/domain/src/lib/entities/user-credential.entity.ts
  libs/auth-session/domain/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/device-session.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/index.ts
  libs/auth-session/infrastructure/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/device-session.mapper.ts
  libs/auth-session/infrastructure/src/lib/mappers/index.ts
  libs/auth-session/infrastructure/src/lib/repositories/device-session.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(entity): refactor entities to use public readonly properties for createdAt and other fields
  libs/auth-session/infrastructure/src/lib/entities/device-session.entity.ts
  libs/identity-device/domain/src/lib/entities/contact-verification.entity.ts
  libs/identity-device/domain/src/lib/entities/device.entity.ts
  libs/identity-device/domain/src/lib/entities/user-contact.entity.ts
  libs/identity-device/domain/src/lib/entities/user-device.entity.ts
  libs/identity-device/domain/src/lib/entities/user-preference.entity.ts
  libs/identity-device/domain/src/lib/entities/user-profile.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-device.entity.ts
  libs/identity-device/infrastructure/src/lib/entities/user-preference.entity.ts
  libs/identity-device/infrastructure/src/lib/mappers/user-device.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix(proto-build): update index.ts generation to separate exports with double newlines
  tools/workspace-tools/src/executors/proto-build.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

chore(tsconfig): remove unused references from tsconfig files
  libs/auth-session/application/tsconfig.json
  libs/auth-session/application/tsconfig.lib.json
  libs/identity-device/application/tsconfig.json
  libs/identity-device/application/tsconfig.lib.json
Due: prettier --write

feat(session-policy): implement SessionPolicy entity, repository, and mapper
  docs/README.md
  libs/auth-session/domain/src/lib/entities/index.ts
  libs/auth-session/domain/src/lib/entities/session-policy.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/index.ts
  libs/auth-session/infrastructure/src/lib/entities/session-policy.entity.ts
  libs/auth-session/infrastructure/src/lib/mappers/index.ts
  libs/auth-session/infrastructure/src/lib/mappers/session-policy.mapper.ts
  libs/auth-session/infrastructure/src/lib/repositories/index.ts
  libs/auth-session/infrastructure/src/lib/repositories/session-policy.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity-device-service): initialize identity device service with core modules, configurations, and tests
  apps/identity-device-service-e2e/.spec.swcrc
  apps/identity-device-service-e2e/eslint.config.mjs
  apps/identity-device-service-e2e/jest.config.ts
  apps/identity-device-service-e2e/package.json
  apps/identity-device-service-e2e/src/identity-device-service/identity-device-service.spec.ts
  apps/identity-device-service-e2e/src/support/global-setup.ts
  apps/identity-device-service-e2e/src/support/global-teardown.ts
  apps/identity-device-service-e2e/src/support/test-setup.ts
  apps/identity-device-service-e2e/tsconfig.json
  apps/identity-device-service/.spec.swcrc
  apps/identity-device-service/eslint.config.mjs
  apps/identity-device-service/jest.config.ts
  apps/identity-device-service/package.json
  apps/identity-device-service/src/app/app.controller.spec.ts
  apps/identity-device-service/src/app/app.controller.ts
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/app/app.service.spec.ts
  apps/identity-device-service/src/app/app.service.ts
  apps/identity-device-service/src/assets/.gitkeep
  apps/identity-device-service/src/main.ts
  apps/identity-device-service/tsconfig.app.json
  apps/identity-device-service/tsconfig.json
  apps/identity-device-service/tsconfig.spec.json
  apps/identity-device-service/webpack.config.js
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity): add Identity service with registration functionality and update exports
  libs/shared/proto/package.json
  libs/shared/proto/src/index.ts
  libs/shared/proto/src/lib/proto/auth.ts
  libs/shared/proto/src/lib/proto/identity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity): add Identity service with registration functionality
  proto/auth.proto
  proto/identity.proto
Due: none

feat(nx): add identity-device-service to test exclusions and tsconfig references
  nx.json
  tsconfig.json
Due: prettier --write

feat(gitignore): add rule to ignore all .ignore.md files
  .gitignore
Due: none

feat(auth-session-service): initialize auth session service with core modules, configurations, and tests
  apps/auth-session-service-e2e/.spec.swcrc
  apps/auth-session-service-e2e/eslint.config.mjs
  apps/auth-session-service-e2e/jest.config.ts
  apps/auth-session-service-e2e/package.json
  apps/auth-session-service-e2e/src/auth-session-service/auth-session-service.spec.ts
  apps/auth-session-service-e2e/src/support/global-setup.ts
  apps/auth-session-service-e2e/src/support/global-teardown.ts
  apps/auth-session-service-e2e/src/support/test-setup.ts
  apps/auth-session-service-e2e/tsconfig.json
  apps/auth-session-service/.spec.swcrc
  apps/auth-session-service/eslint.config.mjs
  apps/auth-session-service/jest.config.ts
  apps/auth-session-service/package.json
  apps/auth-session-service/src/app/app.module.ts
  apps/auth-session-service/src/app/health.controller.ts
  apps/auth-session-service/src/assets/.gitkeep
  apps/auth-session-service/src/main.ts
  apps/auth-session-service/tsconfig.app.json
  apps/auth-session-service/tsconfig.json
  apps/auth-session-service/tsconfig.spec.json
  apps/auth-session-service/webpack.config.js
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity-device-service): remove AppController and AppService, add HealthController for health checks
  apps/identity-device-service/src/app/app.controller.spec.ts
  apps/identity-device-service/src/app/app.controller.ts
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/app/app.service.spec.ts
  apps/identity-device-service/src/app/app.service.ts
  apps/identity-device-service/src/app/health.controller.ts
  apps/identity-device-service/src/main.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth-session-service): add AuthController for authentication endpoints feat(identity-device-service): add IdentityController for identity management
  apps/auth-session-service/src/app/app.module.ts
  apps/auth-session-service/src/app/auth.controller.ts
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/app/identity.controller.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(identity-device): implement registration command and handler with DTOs
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/tsconfig.app.json
  apps/identity-device-service/tsconfig.json
  libs/identity-device/application/src/lib/commands/handlers/index.ts
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/identity-device/application/src/lib/commands/impl/index.ts
  libs/identity-device/application/src/lib/commands/impl/register.command.ts
  libs/identity-device/application/src/lib/services/identity.service.ts
  libs/identity-device/application/tsconfig.json
  libs/identity-device/application/tsconfig.lib.json
  libs/identity-device/presentation/src/index.ts
  libs/identity-device/presentation/src/lib/dtos/index.ts
  libs/identity-device/presentation/tsconfig.json
  libs/identity-device/presentation/tsconfig.lib.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(nx.json): add auth-session-service e2e tests to Jest plugin exclude list
  nx.json
Due: prettier --write

feat(iam-service): remove e2e tests and related configurations for iam-service
  apps/iam-service-e2e/.spec.swcrc
  apps/iam-service-e2e/eslint.config.mjs
  apps/iam-service-e2e/jest.config.ts
  apps/iam-service-e2e/package.json
  apps/iam-service-e2e/src/iam-service/iam-service.spec.ts
  apps/iam-service-e2e/src/support/global-setup.ts
  apps/iam-service-e2e/src/support/global-teardown.ts
  apps/iam-service-e2e/src/support/test-setup.ts
  apps/iam-service-e2e/tsconfig.json
  apps/iam-service/.spec.swcrc
  apps/iam-service/eslint.config.mjs
  apps/iam-service/jest.config.ts
  apps/iam-service/package.json
  apps/iam-service/src/app/app.module.ts
  apps/iam-service/src/app/auth.controller.ts
  apps/iam-service/src/app/health.controller.ts
  apps/iam-service/src/assets/.gitkeep
  apps/iam-service/src/main.ts
  apps/iam-service/tsconfig.app.json
  apps/iam-service/tsconfig.json
  apps/iam-service/tsconfig.spec.json
  apps/iam-service/webpack.config.js
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(proto-build): adjust index.ts file generation and ensure proper formatting feat(tsconfig): remove iam-service references and add auth-session-service paths
  tools/workspace-tools/src/executors/proto-build.ts
  tsconfig.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(proto): update proto files and DTOs for auth and identity services
  libs/auth-session/presentation/src/lib/dtos/index.ts
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/identity-device/presentation/src/lib/dtos/index.ts
  libs/shared/proto/package.json
  libs/shared/proto/src/index.ts
  libs/shared/proto/src/lib/proto/auth-session.ts
  libs/shared/proto/src/lib/proto/identity-device.ts
  tools/workspace-tools/src/executors/proto-build.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(proto): add auth-session and identity-device proto files with service definitions and messages
  apps/auth-session-service/src/app/auth.controller.ts
  apps/auth-session-service/src/main.ts
  apps/auth-session-service/webpack.config.js
  apps/identity-device-service/src/app/identity.controller.ts
  apps/identity-device-service/src/main.ts
  apps/identity-device-service/webpack.config.js
  proto/auth-session.proto
  proto/identity-device.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(api-gateway): refactor proto integration and update controllers for auth and identity services
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/auth.controller.ts
  apps/api-gateway/src/app/health.controller.ts
  apps/api-gateway/src/app/identity.controller.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  libs/auth-session/presentation/src/lib/dtos/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(api-gateway, identity-device-service): enhance identity service integration and update controllers
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/identity.controller.ts
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/app/identity.controller.ts
  libs/auth-session/domain/package.json
  libs/auth-session/infrastructure/package.json
  libs/auth-session/presentation/package.json
  libs/identity-device/application/package.json
  libs/identity-device/application/src/lib/services/index.ts
  libs/identity-device/domain/package.json
  libs/identity-device/infrastructure/package.json
  libs/identity-device/presentation/package.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

chore: remove unnecessary eslint-disable comments from configuration files
  apps/auth-session-service-e2e/src/support/global-teardown.ts
  apps/auth-session-service-e2e/src/support/test-setup.ts
  apps/identity-device-service-e2e/jest.config.ts
  apps/identity-device-service-e2e/src/support/global-teardown.ts
  apps/identity-device-service-e2e/src/support/test-setup.ts
  libs/auth-session/application/jest.config.ts
  libs/auth-session/domain/jest.config.ts
  libs/auth-session/infrastructure/jest.config.ts
  libs/auth-session/presentation/jest.config.ts
  libs/identity-device/application/jest.config.ts
  libs/identity-device/domain/jest.config.ts
  libs/identity-device/infrastructure/jest.config.ts
  libs/identity-device/presentation/jest.config.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add envFilePath configuration to SharedConfigModule in multiple services
  apps/api-gateway/src/app/app.module.ts
  apps/auth-session-service/src/app/app.module.ts
  apps/identity-device-service/src/app/app.module.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor(env-loader): simplify getEnvFile function and improve path handling
  libs/shared/config/src/lib/env/env-loader.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement loaders for auth, database, env, logger, rabbitmq, and swagger configurations
  libs/shared/config/src/lib/auth-env/auth-env.loader.ts
  libs/shared/config/src/lib/database/index.ts
  libs/shared/config/src/lib/database/typeorm.loader.ts
  libs/shared/config/src/lib/env/env.loader.ts
  libs/shared/config/src/lib/env/index.ts
  libs/shared/config/src/lib/logger/index.ts
  libs/shared/config/src/lib/logger/logger.loader.ts
  libs/shared/config/src/lib/rabbitmq/rabbitmq.loader.ts
  libs/shared/config/src/lib/shared-config.module.ts
  libs/shared/config/src/lib/swagger/index.ts
  libs/shared/config/src/lib/swagger/swagger.loader.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat(auth-session-service, identity-device-service): add environment loaders and schemas for configuration validation
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.loader.ts
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.schema.ts
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.types.ts
  libs/shared/config/src/lib/auth-session-service-env/index.ts
  libs/shared/config/src/lib/identity-device-service-env/identity-device-service-env.loader.ts
  libs/shared/config/src/lib/identity-device-service-env/identity-device-service-env.schema.ts
  libs/shared/config/src/lib/identity-device-service-env/identity-device-service-env.types.ts
  libs/shared/config/src/lib/identity-device-service-env/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: correct import paths for auth-env and rabbitmq modules
  libs/shared/config/src/lib/auth-env/index.ts
  libs/shared/config/src/lib/rabbitmq/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add environment loaders and constants for auth-session-service and identity-device-service
  libs/shared/config/src/index.ts
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.loader.ts
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.types.ts
  libs/shared/config/src/lib/database/typeorm.loader.ts
  libs/shared/config/src/lib/database/typeorm.types.ts
  libs/shared/config/src/lib/env/env.loader.ts
  libs/shared/config/src/lib/env/env.types.ts
  libs/shared/config/src/lib/identity-device-service-env/identity-device-service-env.loader.ts
  libs/shared/config/src/lib/identity-device-service-env/identity-device-service-env.types.ts
  libs/shared/config/src/lib/logger/logger.loader.ts
  libs/shared/config/src/lib/logger/logger.types.ts
  libs/shared/config/src/lib/rabbitmq/rabbitmq.loader.ts
  libs/shared/config/src/lib/rabbitmq/rabbitmq.types.ts
  libs/shared/config/src/lib/shared-config.module.ts
  libs/shared/config/src/lib/swagger/swagger.loader.ts
  libs/shared/config/src/lib/swagger/swagger.types.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update environment variable references to use ENVIRONMENT_ENV and TYPEORM_ENV
  apps/api-gateway/src/bootstrap/swagger.bootstrap.ts
  apps/api-gateway/src/main.ts
  apps/auth-session-service/src/app/app.module.ts
  apps/auth-session-service/src/main.ts
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/main.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update environment variable reference from TYPEORM_ENV to SWAGGER_ENV in Swagger configuration
  apps/api-gateway/src/bootstrap/swagger.bootstrap.ts
  libs/shared/config/src/lib/swagger/swagger.types.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update environment variable reference from TYPEORM_ENV to SWAGGER_ENV in swagger loader feat(app.module): integrate environment loaders for auth session and identity device services
  apps/api-gateway/src/app/app.module.ts
  libs/shared/config/src/lib/swagger/swagger.loader.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: update uuid version specification in yarn.lock
  yarn.lock
Due: none

feat: implement register credential functionality in auth session service
  apps/api-gateway/src/app/app.module.ts
  apps/auth-session-service/src/app/app.module.ts
  apps/auth-session-service/src/app/auth.controller.ts
  apps/auth-session-service/tsconfig.app.json
  apps/auth-session-service/tsconfig.json
  apps/identity-device-service/src/app/app.module.ts
  apps/identity-device-service/src/main.ts
  apps/identity-device-service/webpack.config.js
  libs/auth-session/application/package.json
  libs/auth-session/application/src/lib/commands/handlers/index.ts
  libs/auth-session/application/src/lib/commands/handlers/register-credential.handler.ts
  libs/auth-session/application/src/lib/commands/impl/index.ts
  libs/auth-session/application/src/lib/commands/impl/register-credential.command.ts
  libs/auth-session/application/src/lib/services/auth.service.ts
  libs/auth-session/application/src/lib/services/index.ts
  libs/auth-session/application/tsconfig.json
  libs/auth-session/application/tsconfig.lib.json
  libs/auth-session/presentation/src/lib/dtos/index.ts
  libs/identity-device/application/package.json
  libs/identity-device/application/src/lib/commands/handlers/register.handler.ts
  libs/shared/config/src/lib/auth-session-service-env/auth-session-service-env.loader.ts
  libs/shared/proto/src/lib/proto/auth-session.ts
  proto/auth-session.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: standardize formatting in README.md database schema section
  docs/README.md
Due: none

refactor: update environment type handling and file loading logic in env.loader.ts
  libs/shared/config/src/lib/env/env.loader.ts
  libs/shared/const/src/lib/environment.enum.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Path conditions:
  eslint --fix: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --write: (any of: {apps,libs,tools}/**/*.{ts,tsx}) or (any of: *.json)
