Repository ows4444/nz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: refactor authentication and user registration handling by consolidating command handlers and removing unused components
  libs/auth-session/application/src/lib/commands/handlers/index.ts
  libs/auth-session/application/src/lib/commands/handlers/register-credential.handler.ts
  libs/auth-session/application/src/lib/commands/handlers/register.handler.ts
  libs/auth-session/application/src/lib/commands/impl/index.ts
  libs/auth-session/application/src/lib/commands/impl/register-credential.command.ts
  libs/auth-session/application/src/lib/commands/impl/register.command.ts
  libs/auth-session/application/src/lib/services/auth.service.ts
  libs/auth-session/application/tsconfig.json
  libs/auth-session/application/tsconfig.lib.json
  libs/auth-session/domain/src/lib/aggregates/index.ts
  libs/auth-session/domain/src/lib/aggregates/user.aggregate.ts
  libs/auth-session/infrastructure/src/lib/repositories/index.ts
  libs/auth-session/presentation/src/lib/dtos/index.ts
  libs/user-device/application/src/lib/commands/handlers/index.ts
  libs/user-device/application/src/lib/commands/handlers/register.handler.ts
  libs/user-device/application/src/lib/commands/impl/index.ts
  libs/user-device/application/src/lib/events/handlers/create-user-credential.handler.ts
  libs/user-device/application/src/lib/events/handlers/index.ts
  libs/user-device/application/src/lib/services/user.service.ts
  libs/user-device/application/tsconfig.json
  libs/user-device/application/tsconfig.lib.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add event entities and repositories for inbox and outbox events, including mappers and metrics
  libs/shared/domain/src/index.ts
  libs/shared/domain/src/lib/entities/index.ts
  libs/shared/domain/src/lib/entities/outbox-event.entity.ts
  libs/shared/infrastructure/src/index.ts
  libs/shared/infrastructure/src/lib/entities/base-event.ts
  libs/shared/infrastructure/src/lib/entities/dead-letter-event.entity.ts
  libs/shared/infrastructure/src/lib/entities/event-processing-metrics.entity.ts
  libs/shared/infrastructure/src/lib/entities/event-routing-rule.entity.ts
  libs/shared/infrastructure/src/lib/entities/event-subscription.entity.ts
  libs/shared/infrastructure/src/lib/entities/inbox-event.entity.ts
  libs/shared/infrastructure/src/lib/entities/index.ts
  libs/shared/infrastructure/src/lib/entities/outbox-event.entity.ts
  libs/shared/infrastructure/src/lib/mappers/inbox-event.mapper.ts
  libs/shared/infrastructure/src/lib/mappers/index.ts
  libs/shared/infrastructure/src/lib/mappers/outbox-event.mapper.ts
  libs/shared/infrastructure/src/lib/repositories/inbox-event.repository.ts
  libs/shared/infrastructure/src/lib/repositories/index.ts
  libs/shared/infrastructure/src/lib/repositories/outbox-event.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: simplify DeadLetterEventEntityORM by extending BaseEvent and removing unused properties
  libs/shared/infrastructure/src/lib/entities/dead-letter-event.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add new entities and repositories for dead letter events, event processing metrics, event routing rules, and event subscriptions with corresponding mappers
  libs/shared/domain/src/lib/entities/dead-letter-event.entity.ts
  libs/shared/domain/src/lib/entities/event-processing-metrics.entity.ts
  libs/shared/domain/src/lib/entities/event-routing-rule.entity.ts
  libs/shared/domain/src/lib/entities/event-subscription.entity.ts
  libs/shared/domain/src/lib/entities/index.ts
  libs/shared/infrastructure/src/lib/entities/event-subscription.entity.ts
  libs/shared/infrastructure/src/lib/mappers/event-processing-metrics.mapper.ts
  libs/shared/infrastructure/src/lib/mappers/event-routing-rule.mapper.ts
  libs/shared/infrastructure/src/lib/mappers/event-subscription.mapper.ts
  libs/shared/infrastructure/src/lib/mappers/index.ts
  libs/shared/infrastructure/src/lib/repositories/event-processing-metrics.repository.ts
  libs/shared/infrastructure/src/lib/repositories/event-routing-rule.repository.ts
  libs/shared/infrastructure/src/lib/repositories/event-subscription.repository.ts
  libs/shared/infrastructure/src/lib/repositories/inbox-event.repository.ts
  libs/shared/infrastructure/src/lib/repositories/index.ts
  libs/shared/infrastructure/src/lib/repositories/outbox-event.repository.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add DeadLetterEventEntity resolutionNotes property and corresponding mapper and repository
  libs/shared/domain/src/lib/entities/dead-letter-event.entity.ts
  libs/shared/infrastructure/src/lib/mappers/dead-letter-event.mapper.ts
  libs/shared/infrastructure/src/lib/mappers/index.ts
  libs/shared/infrastructure/src/lib/repositories/dead-letter-event.repository.ts
  libs/shared/infrastructure/src/lib/repositories/index.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance authentication flow by adding user registration and updating service client references
  apps/api-gateway/src/app/auth.controller.ts
  apps/api-gateway/src/app/user.controller.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  apps/auth-session-service/src/app/auth.controller.ts
  apps/user-device-service-e2e/jest.config.ts
  apps/user-device-service-e2e/src/support/global-teardown.ts
  apps/user-device-service-e2e/src/support/test-setup.ts
  apps/user-device-service/jest.config.ts
  apps/user-device-service/src/app/user.controller.ts
  libs/auth-session/application/package.json
  libs/auth-session/domain/package.json
  libs/shared/i18n/src/lib/shared-i18n.ts
  libs/shared/infrastructure/package.json
  libs/shared/infrastructure/src/lib/database/index.ts
  libs/shared/infrastructure/tsconfig.json
  libs/shared/infrastructure/tsconfig.lib.json
  libs/user-device/application/jest.config.ts
  libs/user-device/application/package.json
  libs/user-device/domain/jest.config.ts
  libs/user-device/domain/package.json
  libs/user-device/infrastructure/jest.config.ts
  libs/user-device/infrastructure/package.json
  libs/user-device/presentation/jest.config.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: set NX_TUI environment variable for linting and type checking in pre-commit hook
  .husky/pre-commit
Due: none

feat: replace MySQL with PostgreSQL in docker-compose and update dependencies
  docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

fix: enable TUI configuration in nx.json
  nx.json
Due: prettier --write

refactor: remove length constraints on UUID columns and update timestamp precision in entity definitions
  libs/auth-session/infrastructure/src/lib/entities/login-attempt.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/password-reset.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/session-policy.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-credential.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-password-history.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user-session.entity.ts
  libs/auth-session/infrastructure/src/lib/entities/user.entity.ts
  libs/shared/i18n/src/lib/shared-i18n.ts
  libs/shared/infrastructure/src/lib/entities/base-event.ts
  libs/shared/proto/src/lib/proto/user-device.ts
  libs/user-device/infrastructure/src/lib/entities/contact-verification.entity.ts
  libs/user-device/infrastructure/src/lib/entities/device-session.entity.ts
  libs/user-device/infrastructure/src/lib/entities/device-trust-event.entity.ts
  libs/user-device/infrastructure/src/lib/entities/device-trust-score.entity.ts
  libs/user-device/infrastructure/src/lib/entities/device.entity.ts
  libs/user-device/infrastructure/src/lib/entities/user-contact.entity.ts
  libs/user-device/infrastructure/src/lib/entities/user-preference.entity.ts
  libs/user-device/infrastructure/src/lib/entities/user-profile.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement user device info retrieval in UserController and update proto definitions
  apps/auth-session-service/src/app/app.module.ts
  apps/user-device-service/src/app/app.module.ts
  apps/user-device-service/src/app/user.controller.ts
  proto/user-device.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add event routing, subscription, and metrics tables to README
  docs/README.md
Due: none

feat: implement GlobalUserCreatedEvent and update registration flow with outbox pattern
  libs/auth-session/application/src/lib/commands/handlers/register.handler.ts
  libs/auth-session/application/tsconfig.json
  libs/auth-session/application/tsconfig.lib.json
  libs/auth-session/domain/src/index.ts
  libs/auth-session/domain/src/lib/events/global-user-registered.event.ts
  libs/auth-session/domain/src/lib/events/impl/index.ts
  libs/auth-session/domain/src/lib/events/index.ts
  libs/auth-session/domain/src/lib/events/publishers/.gitkeep
  libs/auth-session/domain/tsconfig.json
  libs/auth-session/domain/tsconfig.lib.json
  libs/shared/domain/src/lib/entities/outbox-event.entity.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: initialize shared application with TypeScript configuration, ESLint, Jest, and package setup
  libs/shared/application/.spec.swcrc
  libs/shared/application/README.md
  libs/shared/application/eslint.config.mjs
  libs/shared/application/jest.config.ts
  libs/shared/application/package.json
  libs/shared/application/src/index.ts
  libs/shared/application/tsconfig.json
  libs/shared/application/tsconfig.lib.json
  libs/shared/application/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: integrate RabbitMQ and scheduling for outbox processing in auth and user device services
  apps/auth-session-service/src/app/app.module.ts
  apps/auth-session-service/tsconfig.app.json
  apps/auth-session-service/tsconfig.json
  apps/user-device-service/src/app/app.module.ts
  apps/user-device-service/tsconfig.app.json
  apps/user-device-service/tsconfig.json
  libs/shared/application/src/index.ts
  libs/shared/application/src/lib/inbox/inbox.service.ts
  libs/shared/application/src/lib/inbox/index.ts
  libs/shared/application/src/lib/outbox/index.ts
  libs/shared/application/src/lib/outbox/outbox.service.ts
  libs/shared/application/tsconfig.json
  libs/shared/application/tsconfig.lib.json
  libs/shared/infrastructure/src/lib/repositories/outbox-event.repository.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enable controller discovery in auth and user device services, and enhance outbox service with AMQP publishing capabilities
  apps/auth-session-service/src/app/app.module.ts
  apps/user-device-service/src/app/app.module.ts
  libs/shared/application/src/lib/outbox/outbox.service.ts
  libs/shared/application/tsconfig.json
  libs/shared/application/tsconfig.lib.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: integrate InboxService and refactor RabbitMQ configuration for auth and user device services; enhance outbox service to publish events to specific services
  apps/auth-session-service/src/app/app.module.ts
  apps/user-device-service/src/app/app.module.ts
  libs/auth-session/application/src/lib/commands/handlers/register.handler.ts
  libs/auth-session/domain/src/lib/events/global-user-registered.event.ts
  libs/shared/application/src/lib/inbox/inbox.service.ts
  libs/shared/application/src/lib/outbox/outbox.service.ts
  libs/shared/application/tsconfig.json
  libs/shared/application/tsconfig.lib.json
  libs/shared/config/src/lib/env/env.loader.ts
  libs/shared/config/src/lib/env/env.schema.ts
  libs/shared/config/src/lib/env/env.types.ts
  libs/shared/domain/src/lib/entities/outbox-event.entity.ts
  libs/shared/infrastructure/src/lib/entities/outbox-event.entity.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: enhance InboxService to handle new event structure and persist inbox events; update OutboxService to publish event JSON
  libs/shared/application/src/lib/inbox/inbox.service.ts
  libs/shared/application/src/lib/outbox/outbox.service.ts
  libs/shared/domain/src/lib/entities/inbox-event.entity.ts
  libs/shared/domain/src/lib/entities/outbox-event.entity.ts
  libs/shared/infrastructure/src/lib/entities/inbox-event.entity.ts
  libs/shared/infrastructure/src/lib/mappers/inbox-event.mapper.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: initialize esm-service and esm-service-e2e with TypeScript, Jest, and ESLint configurations; implement basic API structure with controller and service
  apps/esm-service-e2e/.spec.swcrc
  apps/esm-service-e2e/eslint.config.mjs
  apps/esm-service-e2e/jest.config.ts
  apps/esm-service-e2e/package.json
  apps/esm-service-e2e/src/esm-service/esm-service.spec.ts
  apps/esm-service-e2e/src/support/global-setup.ts
  apps/esm-service-e2e/src/support/global-teardown.ts
  apps/esm-service-e2e/src/support/test-setup.ts
  apps/esm-service-e2e/tsconfig.json
  apps/esm-service/.spec.swcrc
  apps/esm-service/eslint.config.mjs
  apps/esm-service/jest.config.ts
  apps/esm-service/package.json
  apps/esm-service/src/app/app.controller.ts
  apps/esm-service/src/app/app.module.ts
  apps/esm-service/src/app/app.service.ts
  apps/esm-service/src/assets/.gitkeep
  apps/esm-service/src/main.ts
  apps/esm-service/tsconfig.app.json
  apps/esm-service/tsconfig.json
  apps/esm-service/tsconfig.spec.json
  apps/esm-service/webpack.config.js
  nx.json
  tsconfig.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: add ESM architecture with domain, application, infrastructure, and presentation layers; configure TypeScript, Jest, and ESLint for each layer
  libs/esm/application/.spec.swcrc
  libs/esm/application/README.md
  libs/esm/application/eslint.config.mjs
  libs/esm/application/jest.config.ts
  libs/esm/application/package.json
  libs/esm/application/src/index.ts
  libs/esm/application/tsconfig.json
  libs/esm/application/tsconfig.lib.json
  libs/esm/application/tsconfig.spec.json
  libs/esm/domain/.spec.swcrc
  libs/esm/domain/README.md
  libs/esm/domain/eslint.config.mjs
  libs/esm/domain/jest.config.ts
  libs/esm/domain/package.json
  libs/esm/domain/src/index.ts
  libs/esm/domain/tsconfig.json
  libs/esm/domain/tsconfig.lib.json
  libs/esm/domain/tsconfig.spec.json
  libs/esm/infrastructure/.spec.swcrc
  libs/esm/infrastructure/README.md
  libs/esm/infrastructure/eslint.config.mjs
  libs/esm/infrastructure/jest.config.ts
  libs/esm/infrastructure/package.json
  libs/esm/infrastructure/src/index.ts
  libs/esm/infrastructure/tsconfig.json
  libs/esm/infrastructure/tsconfig.lib.json
  libs/esm/infrastructure/tsconfig.spec.json
  libs/esm/presentation/.spec.swcrc
  libs/esm/presentation/README.md
  libs/esm/presentation/eslint.config.mjs
  libs/esm/presentation/jest.config.ts
  libs/esm/presentation/package.json
  libs/esm/presentation/src/index.ts
  libs/esm/presentation/tsconfig.json
  libs/esm/presentation/tsconfig.lib.json
  libs/esm/presentation/tsconfig.spec.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: implement ESM microservice with gRPC support; update main bootstrap logic, add proto definitions, and configure assets
  apps/esm-service/src/main.ts
  apps/esm-service/webpack.config.js
  libs/shared/proto/package.json
  libs/shared/proto/src/index.ts
  libs/shared/proto/src/lib/proto/esm.ts
  proto/esm.proto
  proto/user-device.proto
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Refactor code structure for improved readability and maintainability
  apps/esm-service/src/app/app.controller.ts
  apps/esm-service/src/app/app.module.ts
  apps/esm-service/src/app/app.service.ts
  apps/esm-service/src/app/esm.controller.ts
  apps/esm-service/src/app/health.controller.ts
  apps/esm-service/tsconfig.app.json
  apps/esm-service/tsconfig.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: Implement dynamic DTO generation with validation and caching
  apps/esm-service-e2e/src/support/global-teardown.ts
  libs/auth-session/application/package.json
  libs/auth-session/domain/package.json
  libs/shared/application/package.json
  libs/shared/i18n/src/lib/shared-i18n.ts
  libs/shared/utils/package.json
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/lib/dynamic-dto/application/pipelines/dto-generation.pipeline.ts
  libs/shared/utils/src/lib/dynamic-dto/application/pipelines/validation.pipeline.ts
  libs/shared/utils/src/lib/dynamic-dto/application/services/dto-orchestrator.service.ts
  libs/shared/utils/src/lib/dynamic-dto/core/abstractions/base-field-processor.abstract.ts
  libs/shared/utils/src/lib/dynamic-dto/core/abstractions/schema-validator.abstract.ts
  libs/shared/utils/src/lib/dynamic-dto/core/enums/index.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/cache/cache-manager.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/cache/cache-strategy.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/base-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/field-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/index.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/validation-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/types/advanced-types.ts
  libs/shared/utils/src/lib/dynamic-dto/core/types/index.ts
  libs/shared/utils/src/lib/dynamic-dto/domain/entities/dynamic-schema.entity.ts
  libs/shared/utils/src/lib/dynamic-dto/domain/specifications/schema-compatibility.spec.ts
  libs/shared/utils/src/lib/dynamic-dto/domain/value-objects/schema-version.vo.ts
  libs/shared/utils/src/lib/dynamic-dto/dynamic-dto.module.ts
  libs/shared/utils/src/lib/dynamic-dto/index.ts
  libs/shared/utils/src/lib/dynamic-dto/infrastructure/cache/cache-manager.service.ts
  libs/shared/utils/src/lib/dynamic-dto/infrastructure/cache/strategies/memory-cache.strategy.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/decorator-processors/decorator-processor.service.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/array-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/object-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/field-processor.registry.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/boolean-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/number-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/string-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/validators/schema-validators/structural-schema.validator.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Implement code changes to enhance functionality and improve performance
  package.json
  yarn.lock
Due: prettier --write

feat: Enhance serialization decorators in field processors and update memory cache strategy
  libs/shared/utils/src/lib/dynamic-dto/application/pipelines/dto-generation.pipeline.ts
  libs/shared/utils/src/lib/dynamic-dto/core/abstractions/base-field-processor.abstract.ts
  libs/shared/utils/src/lib/dynamic-dto/infrastructure/cache/strategies/memory-cache.strategy.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/array-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/object-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/boolean-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/number-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/string-field.processor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

feat: Enhance serialization decorators in field processors and update memory cache strategy
  libs/shared/utils/src/lib/dynamic-dto/core/abstractions/base-field-processor.abstract.ts
  libs/shared/utils/src/lib/dynamic-dto/core/enums/index.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/auto-generate-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/discriminator-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/image-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/inheritance-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/sanitization-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/base-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/field-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/validation-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/array-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/object-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/boolean-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/number-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/string-field.processor.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

refactor: Move sortEnvFiles function to the top for better organization
  libs/shared/config/src/lib/env/env.loader.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

fix: Add '@typescript-eslint/no-use-before-define' rule to prevent use before definition errors
  eslint.config.mjs
Due: none

feat: add new string formats, case transforms, and character sets
  libs/shared/utils/src/lib/dynamic-dto/core/abstractions/schema-validator.abstract.ts
  libs/shared/utils/src/lib/dynamic-dto/core/enums/index.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/cache/cache-strategy.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/config/sanitization-config.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/interfaces/schema/field-schema.interface.ts
  libs/shared/utils/src/lib/dynamic-dto/core/types/advanced-types.ts
  libs/shared/utils/src/lib/dynamic-dto/domain/specifications/schema-compatibility.specification.ts
  libs/shared/utils/src/lib/dynamic-dto/domain/value-objects/schema-version.vo.ts
  libs/shared/utils/src/lib/dynamic-dto/infrastructure/cache/strategies/memory-cache.strategy.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/array-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/complex/object-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/boolean-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/number-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/processors/field-processors/primitive/string-field.processor.ts
  libs/shared/utils/src/lib/dynamic-dto/validators/schema-validators/structural-schema.validator.spec.ts
  libs/shared/utils/src/lib/dynamic-dto/validators/schema-validators/structural-schema.validator.ts
Due: eslint --fix, prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write, prettier --write

Path conditions:
  eslint --fix: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --plugin prettier-plugin-organize-imports --single-quote --semi --trailing-comma all --print-width 200 --end-of-line auto --write: any of: {apps,libs,tools}/**/*.{ts,tsx}
  prettier --write: (any of: {apps,libs,tools}/**/*.{ts,tsx}) or (any of: *.json)
